fastapi
uvicorn
httpx
setuptools
python-docx
python-multipart
python-pptx
pydantic
pydantic-settings
langdetect
ruff
pre-commit
pytest
pytest-asyncio
python-dotenv
reportlab
openpyxl
pymupdf
pytesseract
pdf2image
pdfplumber
opencv-python-headless
numpy==1.26.4
SQLAlchemy>=2.0
alembic
psycopg[binary]
